<!DOCTYPE html>
<html>
<head>
  <title><%= @custom_title.nil? ? "Polaris | Front- and Back-end Software Engineering" : yield(:custom_title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "jquery-ui-1.10.4.custom.min.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= javascript_tag do %>
  window.animateTime = <%= !cookies["seen_intro"].nil? || !current_page?(controller:'root', action:'index') ? 0 : 2000 %>;
  window.isStaticPage = <%= controller.controller_name == "root" || controller.controller_name == "static_pages" %>;
  window.game = "<%= @game.slug || nil %>"
<% end %>

<%= yield %>

</body>
</html>
