<!DOCTYPE html>
<html>
<head>
  <title><%= @custom_title.nil? ? "Polaris | A Software Developer for the 21st Century" : yield(:custom_title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "jquery-ui-1.10.4.custom.min.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
